.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.memeGen {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "memedisplay input"
    "memedisplay submit";
  width: 40vmax;
  height: 30vmax;
  border-radius: 7px;
  background-color: #242526;
  color: #e4e6eb;
  padding: 15px;
}

.display {
  grid-area: memedisplay;
  display: inline-block;
  width: 50%;
}

.display-content {
  display: inline-block;
  justify-self: center;
  width: 100%;
}

.img-size {
  display: block;
  padding: 0.7vw 0;
  margin: 0 auto;
  max-width: 100%;
  max-height: 180%;
  align-self: center;
  /* padding: 3px; */
}

.input {
  grid-area: input;
display: inline-block;
margin-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #3a3b3c;
  border-radius: 5px;
  padding: 0.5vw;
}

.text-field {
  display: inline-block;
}

.submit {
  grid-area: submit;
  display: inline-block;
  margin-left: 20px;
}

.share-btn {
  grid-area: submit;
  vertical-align: bottom !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
